body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }
main{
   width: 100%;
   min-height: 90vh;
   background: #f1f1f1;
}

header nav{
 width:100%;
 background-color: rgb(100,100,255);
 color:#f1f1f1;
padding:2rem 3rem; 
}
.brand-logo{
    font-size:3.2rem;
    line-height:0;
}
.inline-block{
display:inline-block;
}
nav input{
 display: block;
font-size:14px;
padding:0.5rem 1rem;
}
.width-25{
  width:250px;
}
.width-30{
 width:30%;
}
.width-60{
 width:60%
}
.button-login{
 padding: 0.75rem 1rem;
 background-color: f1f1f1;
 color: #212121;
 border: none;
 outline: none;
}
.right{
 float:right;
}
.log-form{
 margin-top:0.8rem;
}